/*Клас великого шрифту*/
p.large-font {
	/*Збільшення розміру шрифту відносно стандартного*/
	font-size: 1.5em;
	/*Зміна кольору шрифту з допомогаю шістнадцяткового коду*/
	color: #00006c;
}
/*Клас середнього шрифту*/
p.middle-font {
	/*Зміна розміру шрифту у пікселях*/
	font-size: 18px;
	/*Зміна кольору шрифту з використанням RGB*/
	color: rgb(255, 0, 0);
}
/*Дрібний шрифт з використанням #id selector*/
#small-font {
	/*Зміна шрифту у відсотках*/
	font-size: 75%;
	/*Зміна кольору за назвою*/
	color: Grey;
}
/*Зміна розміру першої літери з використанням псевдоелементів*/
p.intro::first-letter{
	/*Зміна розміру шрифту*/
	font-size: xx-large;
	/*Зміна кольору*/
	color: Magenta;
}